<% var title = "SimpleStudy" %>
<% include ../layouts/head %>

<div style="width:50%;margin:0;padding:0;float:left">
	<input type="text" name="geturl" value="/api/"></input>
	<button onclick="getrequest()">GET</button>
</div>

<div style="width:49%;margin:0;padding:0;float:right;border-left:1px solid black;">
	<input type="text" name="posturl" value="/api/"></input>
	<button onclick="postrequest()">POST</button>
	<br>
	<textarea id="data" style="width:99%;height:70px;">name=Some Guide Name&amp;sections=[{"name":"Section TItle","email":"mluzuriaga@friendscentral.org","index":0},{"name":"Other Section","email":"max@luzuriaga.com","index":1}]</textarea>
</div>

<hr style="clear:both" />
<pre id="response">{}</pre>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
	function getrequest() {
		$.ajax({
			url: $("input[name=geturl]").val(),
			headers: {"Authorization-Token": "810a6c5c289a89fb9cc30655485ddd968d0b045a"}
		}).done(function(data) {
			$("#response").html(JSON.stringify(data, null, '\t'));
		});
	}

	function postrequest() {
		$.ajax({
			method: "POST",
			url: $("input[name=posturl]").val(),
			headers: {
				"Authorization-Token": "810a6c5c289a89fb9cc30655485ddd968d0b045a",
				'X-CSRF-Token': $("meta[name=csrf-token").attr("content")
			},
			data: $("#data").val()
		}).done(function(data) {
			$("#response").html(JSON.stringify(data, null, '\t'));
		});
	}
</script>

<% include ../layouts/foot %>