<a href="#" class="new-button no-click">+ New Guide</a>

<div id="new-guide-form">
	<a href="#" class="hide-form no-click">Close</a>
	<h2 class="center-title"><span>Create a new Study Guide</span></h2>
	<form id="new-guide">
		<p class="input name">
			<input type="text" name="name" placeholder="Name" />
		</p>
		<p class="input section group">
			<a class="delete-section" href="#">x</a>
			<input type="text" class="section-name" name="name0" placeholder="Section Name" />
			<input type="email" class="section-email" name="email0" placeholder="User (email)" />
		</p>
		<p class="input section">
			<a class="delete-section" href="#">x</a>
			<input type="text" class="section-name" name="name0" placeholder="Section Name" />
			<input type="email" class="section-email" name="email0" placeholder="User (email)" />
		</p>
		<a href="#" id="new-section">Add Section</a>
	</form>
</div>